body{
    background-image: linear-gradient(to bottom, #82b5dd, #1fdb8d, #dbda79, #871ae0, #5abdbd);
    }
    h3
    {
        width:80%;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Rajdhani', sans-serif;
    }
    .name_of_objects
    {
       font-size:15px;
       color:rgb(0, 0, 255);
    }